h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: justify;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 250px;
    background-color: #f1f1f1; 
}

li a {
    color: #000;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    color: white;
    text-decoration: underline;     
}